@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../../fonts/SFProFonts/SF-Pro-Text-Regular.otf);
}
// @font-face {
//     font-family: "Poppins-ExtraLight";
//     src: url(../../fonts/poppins/Poppins-ExtraLight.ttf);
// }
@font-face {
    font-family: "Poppins-Light";
    src: url(../../fonts/poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../../fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../../fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../../fonts/poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../../fonts/poppins/Poppins-Bold.ttf);
}
////////////////////////////////////////////////////////
@font-face {
    font-family: "Cormorant";
    src: url(../../fonts/cormorant/Cormorant-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Cormorant-Italic";
    src: url(../../fonts/cormorant/Cormorant-Italic-VariableFont_wght.ttf);
}
////////////////////////////////////////////////////////
@font-face {
    font-family: "open_sans";
    src: url(../../fonts/open_sans/OpenSans-VariableFont_wdth\,wght.ttf);
}