@import 'reset';
@import 'fonts';

/*************************** Colors ****************************/
$Dark:#07000B;
$Red:#FF3D00;
$Secondary:#FF9A7B;
$Secondary_light:#FFE1D8;
$Light:#FFF2ED;
$TypographyOnLight:#666666;
$TypographyOnDark:#BCBCBC;
/*************************** Typography ****************************/
%heading_h1{
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 120%;
    color: $Light;
    @media (min-width: 795px){
        font-size: 64px;
    }
    span{
        font-family: 'Cormorant', serif;
        // color: #ff0000;
        // text-shadow: #0006256e 1px 0px 0px, #0006256e 0.540302px 0.841471px 0px, #0006256e -0.416147px 0.909297px 0px, #0006256e -0.989993px 0.14112px 0px, #0006256e -0.653644px -0.756803px 0px, #0006256e 0.283662px -0.958924px 0px, #0006256e 0.96017px -0.279416px 0px;
    }
}
%heading_h2{
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 120%;
    color: $Dark;
    @media (min-width: 795px){
        font-size: 42px;
    }
}
%heading_h3{
    font-family: 'Cormorant', serif;
    font-weight: 3s00;
    font-size: 18px;
    line-height: 120%;
    color: $Dark;
    @media (min-width: 795px){
        font-size: 24px;
    }
}
%card_name{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 14px;
    line-height: 132%;
    color: $Dark;
    @media (min-width: 795px){
        font-size: 18px;
    }
}
%body_text_on_light{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 12px;
    line-height: 132%;
    color: $TypographyOnLight;
    @media (min-width: 795px){
        font-size: 16px;
    }
}
%body_text_on_dark{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 12px;
    line-height: 132%;
    color: $TypographyOnDark;
    @media (min-width: 795px){
        font-size: 16px;
    }
}
%button_text{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 12px;
    line-height: 132%;
    color: $Dark;
    @media (min-width: 795px){
        font-size: 14px;
    }
}
/*************************** General ****************************/
*{
    font-family: 'Poppins-Regular', sans-serif;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: $Light;
}
._container{
    box-sizing: border-box;
    min-width: 375px;      // mobile
    max-width: 1280px;     // tablet
    margin: 0 auto;
    padding: 0 10px;
    
    @media (min-width: 795px) {
        padding: 0 32px;
    }
}

h1{
    @extend %heading_h1;
}
h2{
    @extend %heading_h2;
}
h3{
    @extend %heading_h3;
}
p{
    @extend %body_text_on_light;
}
.btnWrap{
    text-align: center;
}
.button{
    @extend %button_text;

    display: inline-flex;
    column-gap: 10px;
    align-items: center;

    padding: 12px 24px;
    background: transparent;
    border: 2px solid $Dark;

    border-radius: 20px;

    &:hover{
        background-color: $Red;
    }

    @media (min-width: 795px) {
        padding: 15 30px;
    }
}

._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
section{
    padding: 36px 0 26px 0;
    @media (min-width: 795px) {
        padding: 48px 0 36px;
    }
}
main{
    flex: 1 1 auto;
}
.footer-down{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/*************************** Header ****************************/
.header {
    background-color: $Dark;
    // border-radius: 0px 0px 20px 20px;
    // background: url('../../img/header/header-bg2-mob.jpg') 0 0/ cover no-repeat;

    &__top {
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
    }
}
@media (min-width: 795px) {
    .header {
        // background: url('../../img/header/header-bg2.jpg') 0 0/ cover no-repeat;
        border-radius: 0px;

        &__top {
            height: 70px;
        }
    }  
}
/*************************** Navigation ****************************/
.nav {

    &__desktop {
        display: none;
        column-gap: 48px;
    }
    &__list {
        display: flex;
        column-gap: 48px;
        align-items: center;
    }
    &__item {
    }
    &__link {
        @extend %body_text_on_dark;
        font-size: 12px;
        color: $Light;
        &:hover{
            text-decoration: underline;
        }
    }
    &__book-button{
        @extend %button_text;
        font-size: 12px;
        color: $Light;
        padding: 8px 16px;
        border-radius: 32px;
        border: 2px solid $Light;

        &:hover{
            border-color: $Red;
            color: $Red;
        }
    }

    .menu-button {
        display: block;
    }
}

@media (min-width: 795px) {
    .nav {
        &__desktop{
            display: flex;
        }
        .menu-button {
            display: none;
        }
    }   
}


/***************************** main *****************************/

.gallery{
    &__body{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 240px;
        grid-auto-flow: dense;

        gap: 20px;
    }

    &__item{
        overflow: hidden;
        border-radius: 12px;

        &-long{
            grid-row: span 2;
        }


    }
}




/***************************** footer *****************************/

.footer {
    background-color: $Dark;
    
}
._container {
}
.footer__main {
    padding: 26px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.footer__left {
}
.footer__logo {
    margin-top: 24px;
}
.footer__list {
    margin-top: 28px;
}
.footer__item {
}
.footer__link {
    color: $Light;
    font-size: 14px;
    line-height: 28px;
    &:hover{
        text-decoration: underline;
    }
}
.footer__right {
    display: none;
    @media (min-width: 795px){
        display: block;
    }

}
.MCureMap {
    height: 263px;
    width: 263px;
    border-radius: 12px;
}
.copyright {
    color: $TypographyOnDark;
    text-align: center;
    font-size: 12px;
    padding: 14px 0px;
}
